#!/usr/bin/make -f
# -*- makefile -*-
include /usr/share/dpkg/pkg-info.mk

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export JE_PREFIX=jemk_

override_dh_auto_test:
	@if numactl -H >/dev/null; then $(MAKE) unit_tests; else \
	    echo ===== No NUMA, not running tests! =====; fi

override_dh_autoreconf:
	echo "$(DEB_VERSION)"|cut -d- -f1 >VERSION
	dh_update_autotools_config
	dh_autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --disable-secure \
	   --includedir=/usr/include --sbindir=/usr/sbin --enable-cxx11 \
	   --mandir=/usr/share/man --docdir=/usr/share/doc/memkind

override_dh_auto_install:
	dh_auto_install
	rm -f debian/tmp/usr/lib/*/*.la
	rm -f debian/tmp/usr/lib/*/libautohbw*
	rm -rf debian/tmp/usr/share/doc/memkind
	dh_install
	dh_installman
	dh_missing --fail-missing

%:
	dh $@
